<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">All Hats</h1>
      <p class="lead text-muted">
        In a society where things are mass-produced and instantly acquired, there is a little room for carefully crafted, handmade treasures.</p>
      <p>

      </p>
    </div>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let item of prodectts">

  
        <app-prodect [prodee]=item></app-prodect>
  
      </div>
    </div>
  </div>
</div>
  
  
