<body>
  
  <main>
  
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
       
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img  src="https://images.unsplash.com/photo-1550314124-301ca0b773ae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=715&q=80" alt="" >
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Shop and Support israeli Made</h1>
              <p></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1541746322822-356f1e87ede4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" alt="" >
          <div class="container">
            <div class="carousel-caption">
              <h1>Grateful to be able to share our story, our passion and dedication to a beautiful art that is thankfully not lost yet.</h1>
              <!-- <p>A hat reflects the essence of its wearer far more than does a pair of trousers, shoes or a jacket.</p> -->
              <!-- <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p> -->
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Craft the Perfect Hat to Call Your Very Own</span></h2>
          <p class="lead">  The precision in which our hats are made with is not of anything technical, but LOVE. We have a saying in our atelier about every hat made here: our hats are made with LOVE, SWEAT, and BLOOD. Love because it is a craft we cherish. Sweat because there is no other way to manipulate the raw materials and Blood because at times while hand sewing in the bands we prick our fingers.</p>
        </div>
        <div class="col-md-5">
          <img src=" https://images.unsplash.com/photo-1575428652377-a2d80e2277fc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="" style="width: 400px;height: 400px;" >

        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted"></span></h2>
          <p class="lead">A hat reflects the essence of its wearer far more than does a pair of trousers, shoes or a jacket.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="https://images.unsplash.com/photo-1550336168-de4f3406795c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="" style="width: 400px;height: 400px;" >
  
        </div>
      </div>

  

  
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
  
    </div>
  
  </main>
    
    </body>
 
  